*{
    color: white;
}

#perguntar{
    color: black;
}

.fabonnie{
    color: aqua;
    font-size:50px;
    text-align:center;
}
img{
    width:300px;
    height:300px;
}

.francisco-imagens{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 50px
}

.italo{
    color: red;
    font-size: 50px;
    text-align: center;
}

.cayork{
    color: white;
    font-size: 50px;
    text-align: center;
}

.otavio{
    color: pink;
    font-size: 50px;
    text-align: center;
}

body{font-family:Consolas,Hack,"Liberation Mono",monospace;
    background-image: url(./assets/espaço_background.gif);
    background-attachment:fixed;
    background-color:#000;
    background-repeat:repeat;
    line-height:1.15;
    font-size:10pt;
    overflow-y:scroll}

.manoel{
    color: purple;
    font-family: 'Times New Roman';
    font-size: 50px;
    border: 1px solid rgb(208, 8, 208);
    text-align: center;
}



#caixeta-manoelica{
    display: "flex";
    flex-direction: column;
    align-items: center;
}

#italo-secao{
    display: "flex";
    flex-direction: column;
    align-items: center;
}

#fabio-secao{
    display:"flex";
    flex-direction: column;
    align-items: center;
}

#caio-secao{
    display:"flex";
    flex-direction: column;
    align-items: center;
}

#francisco-botoes{
    display: flex;
    justify-content: center;
    gap: 10px
}

#botao-italo{
    width: 300px;
    height: 40px;
    cursor: pointer;
}

#botao-manoel{
    width: 300px;
    height: 40px;
    cursor: pointer;
}

#botao-otavio{
    width: 300px;
    height: 40px;
    cursor: pointer;
}

#botao-caio{
    width: 300px;
    height: 40px;
    cursor: pointer;
}

#botao-fabio{
    width: 300px;
    height: 40px;
    cursor: pointer;
}

.imagem{
    width: 300px;
    height: 300px;
}

#canto-easter-egg{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

#easter-egg{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#classic-rpg{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 600px;
}

#rpg-texto, #escolhas{
    font-family:monospace;
    font-size: 22px;
}

#palavra-chave{
    color: gold;
}

#caio, #manoel, #fabio, #otavio{
    cursor: pointer;
}

#continuar-btn{
    margin-top: 10px;
    color: black;
}

.pequeno{
    width: 140px;
    height: 140px;
}

.preto{
    color: black;
}

#versus-container{
    display: flex;
    gap: 160px;
}

#canto-heroi{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#canto-inimigo{
    display: flex;
    flex-direction: column;
    align-items: center;
}